* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 90vw;
  margin: auto;
  min-width: 520px;
}

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.header__container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  flex: 0.2;
}

.header__container2 {
  margin: auto;
  text-transform: capitalize;
  font-size: xx-large;
  border-bottom: 1px solid black;
}

.navbar-nav,
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
}

.nav-item {
  font-size: large;
}

section {
  display: flex;
  min-height: 400px;
}

.section__container1 {
  flex: 0.3;
  border: 2px solid black;
  margin-right: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container1__first {
  height: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.list-items {
  list-style: none;
}

.title {
  font-size: 40px;
}

.section__container2 {
  display: flex;
  flex: 0.7;
  border: 2px solid black;
  margin-left: 10px;
  border-radius: 4px;
}

.container2__first {
  flex: 0.4;
  margin: 10px 5px 10px 10px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.container2__first > p {
  width: 90%;
}

.carousel-item {
  height: 400px;
}
.carousel-item > img {
  height: 100%;
  object-fit: cover;
}

.container2__second {
  flex: 0.6;
  margin: 10px 10px 10px 5px;
  align-items: center;
}

footer {
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.address_title {
  display: flex;
  justify-content: center;
}

.footer__image {
  height: 20px;
  margin-right: 20px;
}
a,
.nav-item > a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .header__container1 {
    width: 20%;
  }

  .footer__container {
    margin: 0 10px;
    flex-wrap: nowrap;
  }
}
